#content-layout {
  min-height: 90vh;
  position: relative;
  margin-bottom: 9vh;
  .content {
    padding: 24px;
  }
  .content-layout {
    &--gap{
      margin-bottom: 5rem;
    }
    &-footer {
      position: fixed;
      z-index: 1;
      margin-left: -24px;
      bottom: 0;
      width: 100%;
      background-color: white;
    }
  }
  .ant-layout-content {
    .content-layout {
      &-head {
        margin-bottom: 24px;
      }
    }
  }
}

#content-layout-chat {
  min-height: 90vh;
  position: relative;
  margin-bottom: 9vh;
  .content {
    padding: 0;
  }
  .content-layout {
    &--gap{
      margin-bottom: 5rem;
    }
    &-footer {
      position: fixed;
      z-index: 1;
      margin-left: -24px;
      bottom: 0;
      width: 100%;
      background-color: white;
    }
  }
  .ant-layout-content {
    .content-layout {
      &-head {
        padding: 20px 0 0 20px;
        margin-bottom: 4px;
      }
    }
  }
}

