@import "./variables.less";
.trawl-button {
  &-success,
  &-success:hover,
  &-success:visited,
  &-success:active,
  &-success:focus {
    border-color: @success-darken;
    background-color: @success-darken;
    color: white;
  }
}
