@import "./variables.less";
.trawl-main-menu-detail {
  &-title {
    &::before {
      content: "";
      margin-top: 8px;
      left: 12px;
      position: absolute;
      height: 10px;
      width: 10px;
      background-color: @primary-light;
      border-radius: 100%;
    }
    padding-left: 32px;
  }
  &-content {
    // position: fixed;
    top: @top-to-content !important;
  }
  top: @top-to-content !important;

  background-color: white;
  padding-top: 24px;

  li.ant-menu {
    &-item {
      &-selected {
        &::after {
          border-right: none;
        }
      }
    }
  }
}
