@import "./variables.less";
.trawl-button {
  &-success {
    &--ghost {
      &,
      &:hover,
      &:visited,
      &:active,
      &:focus {
        border-color: @success-darken;
        background-color: @success-darken;
        color: @success-darken;
        svg {
          & > * {
            fill: @success-darken;
          }
        }
      }
    }
  }
  &-success,
  &-success:hover,
  &-success:visited,
  &-success:active,
  &-success:focus {
    border-color: @success-darken;
    background-color: @success-darken;
    color: white;
    svg {
      & > * {
        fill: white;
      }
    }
  }
  &-danger {
    &--ghost {
      &,
      &:hover,
      &:visited,
      &:active,
      &:focus {
        border-color: @primary;
        background-color: @primary;
        color: @primary;
      }
    }
  }
}
