@gray-light: #f0f2f5;
@gray: darken(@gray-light, 10%);

@primary: #e60013;
@primary-light: #e94b58;

@success-light: #b7eb8f;
@success: #60c82b;
@success-dark: #3d8824;

@top-to-content: 64px;

a {
  color: @primary;
}
