.ant-layout {
  &-footer {
    background-color: transparent;
  }
  &-sider {
    background-color: transparent;
  }
  &-content {
    margin-right: 0px 10px;
  }
  // background-color: transparent;
}
