/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/build
/public/mix-manifest.json
/storage
/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
coverage.xml
package-lock.json
yarn.lock
composer.lock
public/attachment_transfer
